.card-type {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.6em;
  overflow: hidden;
  padding: 0.6em;
  cursor: pointer;
  transition: 0.2s;
}

.card-type:hover,
.card-type.active {
  border: 1px solid var(--color02);
}

.card-type.disabled {
  opacity: 0.6;
}

.card-type-img {
  width: 100%;
  border-radius: 0.6em;
  z-index: 0;
}

.card-type-div {
  width: 100%;
  overflow: hidden;
}

.card-type-title {
  position: relative;
  text-align: center;
  background-color: var(--color02);
  color: white;
  border-radius: 0em 0em 0.6em 0.6em;
  width: 100%;
  z-index: 1;
}
