.card-locador {
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
}

.card-locador:hover, .card-locador.active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-locador-avt {
    min-width: 80px;
    min-height: 80px;
}

.card-locador-title {
    font-size: 1.2em;
}

.card-locador-subtitle {
    display: flex;
    align-items: center;
}

.card-locador-subtitle .star {
    display: flex;
    align-items: center;
    color: rgb(236, 202, 10);
    margin-right: 0.3em;
}