.pd-title {
    margin-top: 1em;
    font-size: 1.2em;
    color: var(--color01);
}

.pd-painel {
    height: 14em;
    border-radius: 1em;
    overflow: hidden;
    cursor: pointer;
}

.pd-painel.externo {
    background-image: url('/assets/images/externo.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pd-painel.externointerno {
    background-image: url('/assets/images/externo-interno.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pd-painel.interno {
    background-image: url('/assets/images/interno.webp') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pd-painel-pele {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, var(--color01), var(--color03));
    opacity: 0.6;
    transition: 0.2s;
}

.pd-painel:hover .pd-painel-pele {
    opacity: 0.8;
}

.pd-painel-texto {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #FFF;
}

.pd-button-card {
    position: absolute;
    top: -3.2em;
    right: 0em;
}

@media (max-width: 1100px) {

    .pd-painel {
        height: 8em;
    }

    .pd-painel-texto {
        font-size: 1.4em;
    }

}