.content-register {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.content-register .col-login {
  padding-top: 10px;
  padding-bottom: 10px;
}

.register-link {
  margin-top: 12px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.2s;
}

.register-link:hover {
  color: var(--color01);
}

.checkbox-register {
  float: left;
}

@media (max-width: 1100px) {
  .register-link {
    width: 100%;
  }
}
