.btn {
  border: none;
  background: none;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.btn:hover {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 0 5px #00000088;
}

.container {
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.flex {
  display: flex;
  gap: 10px;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
  gap: 10px;
}

.grid-center {
  justify-items: center;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  width: 100% !important;
}

.thin-border {
  border-radius: 8px;
  border: 1px solid rgb(217, 217, 217);
}
