.filter-btn-card {
    height: 2em !important;
    background-color: #FFF !important;
    border-radius: 0.4rem !important;
    padding: 0.2em 1em !important;
    cursor: pointer !important;
}

.filter-btn-card.alt {
    background-color: transparent !important;
    padding: 0.2em 0em !important;
    text-align: center !important;
}