
.card-model {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.6em;
    overflow: hidden;
    padding: 0.6em;
    cursor: pointer;
    transition: 0.2s;
}

.card-model:hover, .card-model.active {
    border: 1px solid var(--color02);
}

.card-model-img {
    width: 100%;
    border-radius: 0.6em;
    z-index: 0;
}

.card-model-div {
    width: 100%;
    overflow: hidden;
}

.card-model-title {
    position: relative;
    text-align: center;
    background-color: var(--color02);
    color: white;
    border-radius: 0em 0em 0.6em 0.6em;
    width: 100%;
    margin-top: -1.2em;
    z-index: 1;
}