.card-cacamba {
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    cursor: pointer;
}

.card-cacamba:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-cacamba-title-avt {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.card-cacamba-title {
    transition: 0.2s;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
}

.cacamba-address {
    cursor: pointer;
    color: var(--color02);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-wrap: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card-cacamba-name {
    font-size: 1.4em;
    color: var(--color02);
}

.card-cacamba-text-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-cacamba-div {
    width: calc(100% - 140px);
    padding-right: 10px;
}

.card-cacamba.soldout .card-cacamba-div  {
    opacity: 0.4;
}

.card-cacamba.soldout .card-cacamba-avt  {
    opacity: 0.4;
}

.card-cacamba.soldout::before {
    content: 'Sem estoque';
    font-size: 16px;
    background-color: var(--color02);
    color: #fff;
    border-radius: 1em;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-cacamba-title:hover {
    color: var(--color02);
}

.card-cacamba-price {
    position: absolute;
    bottom: 0.4em;
    color: var(--color02);
    font-size: 1.5em;
}

.card-cacamba-price-cart {
    color: var(--color02);
    font-size: 1.5em;
}

.card-cacamba-avt {
    width: 170px;
    height: 170px;
    min-width: 170px;
    min-height: 170px;
}

.card-cacamba-price span {
    color: #000;
    text-transform: uppercase;
    font-size: 0.5em;
}

.card-cacamba-modal-subtitle {
    font-size: 1.2em;
}



.card-cacamba-subtitle {
    display: flex;
    align-items: center;
}

.card-cacamba-subtitle .star {
    display: flex;
    align-items: center;
    color: rgb(236, 202, 10);
    margin-right: 0.3em;
}

.ad-title {
    color: var(--color02);
    font-weight: 600;
}

.card-cacamba-endereco {
    cursor: pointer;
    color: var(--color01);
}

.card-cacamba-endereco span {
    color: rgba(0, 0, 0, 0.8);
}

.card-cacamba-price-row {
    display: none;
    position: absolute;
    bottom: 0.4em;
    width: calc(100% - 120px);
}

.card-tag {
    background-color: var(--color02);
    color: #fff;
    padding: 0px 8px;
    border-radius: 8px;
    text-wrap: nowrap;
}

@media (max-width: 1100px) {

    .card-cacamba-div {
        width: calc(100% - 120px);
        padding-right: 10px;
    }

    .card-cacamba-div.cart {
        width: 100%;
        padding: 0px;
    }

    .card-cacamba-price-row {
        display: flex;
        justify-content: start;
    }

    .card-cacamba-avt {
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
    }

    .card-cacamba-avt.cart {
        display: none;
    }

    .card-cacamba-title-avt {
        width: 30px;
        height: 30px;
    }

    .card-cacamba-subtitle.desc {
        display: none;
    }

    .card-cacamba-price.hidden {
        display: none;
    }

    .card-cacamba-price {
        position: relative;
        font-size: 1.3em;
        line-height: 16px;
        margin-right: 10px;
    }

    .card-cacamba-name {
        font-size: 1.2em;
    }

    

}