.mp-row {
    flex-wrap: nowrap;
}

.mp-avatar {
    width: 16em;
    height: 16em;
}

.mp-name {
    margin: 0.4em;
    font-size: 1.6em;
}

.mp-type {
    margin: 0em !important;
    font-size: 1.1em;
    background-color: var(--color01);
    color: #FFF;
    border: none !important;
    box-shadow: none !important;
}

.btn-upload-div {
    margin-top: -3em;
    margin-bottom: 1em;
}

.btn-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-meta {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 6em;
    padding: 1em;
    cursor: pointer;
}

.card-meta-title {
    color: #FFF;
    font-size: 1.1em;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-meta-icon {
    font-size: 3em;
    color: #FFF;
}

.card-meta-value {
    font-size: 2em;
    color: #FFF;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-meta-value .ant-typography-edit {
    color: #FFF;
    font-size: 0.8em;
}

.card-meta-value .ant-typography-edit:hover, .card-meta-value .ant-typography-edit:focus {
    color: #FFF !important;
}

@media (max-width: 900px) {
    
    .mp-row {
        flex-wrap: wrap;
    }

    .mp-col {
        flex: 0 0 100% !important;
    }

}